<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.imrhj.olddriverquery">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueGreyTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--发送性能数据到服务器需要该权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--sdk读取设备识别码需要该权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>